.vagrant/
__pycache__/
*.pyc
# Symlink to virtualenv
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.DS_Store
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
playbook.retry
dist/
*.egg-info/
docs/build/
.idea/
docs/build/
pip-selfcheck.json
.coverage
.pytest_cache
.cache/
*.egg-info/
*.py[co]
*/.Python/*
leapp/utils/schemas.py
res/schema/schemas.py
.vscode/
leapp.db
# do not ignore the directory with tests...
!tests/scripts/

packaging/BUILD/
packaging/RPMS/
packaging/SRPMS/
packaging/sources/
