[MESSAGES CONTROL]
disable=
# "F" Fatal errors that prevent further processing
 import-error,
# "I" Informational noise
# "E" Error for important programming issues (likely bugs)
 cyclic-import,
 no-member,
 no-name-in-module,
# "W" Warnings for stylistic problems or minor programming issues
 arguments-differ,
 bad-mcs-classmethod-argument,
 fixme,
 global-statement,
 protected-access,
 redefined-outer-name,
 super-init-not-called,
 unsubscriptable-object,
 unused-variable,
# "C" Coding convention violations
 invalid-name,
 missing-docstring,
 unidiomatic-typecheck,
# "R" Refactor recommendations
 duplicate-code,
 inconsistent-return-statements,
 too-few-public-methods,
 too-many-ancestors,
 too-many-branches,
 too-many-locals,
 too-many-public-methods,
 too-many-statements,
# new for python3 version of pylint
 useless-object-inheritance

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=120

[DESIGN]
max-args=11  # 2x + 1 from default
max-attributes=21  # 4x + 1 from default

[TYPECHECK]
disable=bad-option-value  # unavoidable as the project requires both py2 and py3
