[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
# Docs build dependencies
Sphinx = "*"
sphinx_rtd_theme = "*"
recommonmark = "*"
argcomplete = "*"
# Testing dependencies
behave = "*"
pylint = "*"
requests = "*"
attrs = "*"
PyHamcrest = "*"
splinter = "*"
# We restrict ourselves to older versions of Selenium for the Cockpit plugin
# testing as:
#
#  - CentOS 7 offers a relatively old version of Firefox by default
#  - Selenium 3.0+ requires geckodriver, the WebDriver interface to Firefox
#  - Mozilla themselves say:
#    - "Marionette and geckodriver are not yet feature complete. This means
#      that they do not yet offer full conformance with the WebDriver standard
#      or complete compatibility with Selenium."
#    - "It is recommended to use the latest releases of geckodriver, Firefox,
#      and Selenium. Generally speaking, the more recent the Firefox release,
#      the more compatibility and conformance fixes you will get."
#
# See https://developer.mozilla.org/en-US/docs/Mozilla/QA/Marionette/WebDriver
# for more details on the development status of Marionette & geckodriver
selenium = "< 3.0"

[packages]
# Runtime dependencies are in `src/setup.py`
