# action=setup
[environment:default]
OVESETUP_DIALOG/confirmSettings=bool:True
OVESETUP_CONFIG/applicationMode=str:both
OVESETUP_CONFIG/remoteEngineSetupStyle=none:None
OVESETUP_CONFIG/sanWipeAfterDelete=bool:False
OVESETUP_CONFIG/storageIsLocal=bool:False
OVESETUP_CONFIG/remoteEngineHostRootPassword=none:None
{% if ovirt_engine_firewall_manager %}
OVESETUP_CONFIG/updateFirewall=bool:True
OVESETUP_CONFIG/firewallManager=str:{{ ovirt_engine_firewall_manager }}
{% else %}
OVESETUP_CONFIG/updateFirewall=bool:False
OVESETUP_CONFIG/firewallManager=none:None
{% endif %}
OVESETUP_CONFIG/firewallChangesReview=bool:False
OVESETUP_CONFIG/remoteEngineHostSshPort=none:None
OVESETUP_CONFIG/fqdn=str:{{ ansible_fqdn }}
OVESETUP_CONFIG/storageType=none:None
OSETUP_RPMDISTRO/requireRollback=none:None
OSETUP_RPMDISTRO/enableUpgrade=none:None
OVESETUP_DB/upgradeWithHeEl6Hosts=none:None
OVESETUP_DB/secured=bool:False
OVESETUP_DB/host=str:{{ovirt_engine_db_host}}
OVESETUP_DB/user=str:{{ovirt_engine_db_user}}
OVESETUP_DB/dumper=str:pg_custom
OVESETUP_DB/database=str:{{ovirt_engine_db_name}}
OVESETUP_DB/fixDbViolations=none:None
OVESETUP_DB/port=int:{{ovirt_engine_db_port}}
OVESETUP_DB/filter=none:None
OVESETUP_DB/restoreJobs=int:2
OVESETUP_DB/securedHostValidation=bool:False
OVESETUP_ENGINE_CORE/enable=bool:True
OVESETUP_CORE/engineStop=none:None
OVESETUP_SYSTEM/memCheckEnabled=bool:False
OVESETUP_PKI/organization=str:{{ ovirt_engine_organization }}
OVESETUP_PKI/renew=none:None
{% if ovirt_engine_configure_iso_domain %}
OVESETUP_CONFIG/isoDomainName=str:{{ ovirt_engine_iso_domain_name }}
OVESETUP_CONFIG/isoDomainACL=str:{{ ovirt_engine_iso_domain_acl }}
OVESETUP_CONFIG/isoDomainMountPoint=str:{{ ovirt_engine_iso_domain_path }}
OVESETUP_SYSTEM/nfsConfigEnabled=bool:True
{% else %}
OVESETUP_CONFIG/isoDomainName=none:None
OVESETUP_CONFIG/isoDomainACL=none:None
OVESETUP_CONFIG/isoDomainMountPoint=none:None
OVESETUP_SYSTEM/nfsConfigEnabled=bool:False
{% endif %}
OVESETUP_CONFIG/engineHeapMax=str:1024M
OVESETUP_CONFIG/adminPassword=str:{{ ovirt_engine_admin_password }}
OVESETUP_CONFIG/engineDbBackupDir=str:/var/lib/ovirt-engine/backups
OVESETUP_CONFIG/engineHeapMin=str:1024M
OVESETUP_AIO/configure=none:None
OVESETUP_AIO/storageDomainName=none:None
OVESETUP_AIO/storageDomainDir=none:None
OVESETUP_PROVISIONING/postgresProvisioningEnabled=bool:True
OVESETUP_APACHE/configureRootRedirection=bool:True
OVESETUP_APACHE/configureSsl=bool:True
OVESETUP_DWH_CORE/enable=bool:{{ovirt_engine_dwh}}
OVESETUP_DWH_CONFIG/dwhDbBackupDir=str:/var/lib/ovirt-engine-dwh/backups
OVESETUP_DWH_DB/secured=bool:False
OVESETUP_DWH_DB/restoreBackupLate=bool:True
OVESETUP_DWH_DB/disconnectExistingDwh=none:None
OVESETUP_DWH_DB/host=str:{{ovirt_engine_dwh_db_host}}
OVESETUP_DWH_DB/user=str:{{ovirt_engine_dwh_db_user}}
OVESETUP_DWH_DB/password=str:{{ovirt_engine_dwh_db_password}}
OVESETUP_DWH_DB/dumper=str:pg_custom
OVESETUP_DWH_DB/database=str:{{ovirt_engine_dwh_db_name}}
OVESETUP_DWH_DB/performBackup=none:None
OVESETUP_DWH_DB/port=int:{{ovirt_engine_dwh_db_port}}
OVESETUP_DWH_DB/filter=none:None
OVESETUP_DWH_DB/restoreJobs=int:2
OVESETUP_DWH_DB/securedHostValidation=bool:False
OVESETUP_DWH_PROVISIONING/postgresProvisioningEnabled=bool:True
OVESETUP_DB/password=str:{{ovirt_engine_db_password}}
OVESETUP_RHEVM_DIALOG/confirmUpgrade=bool:True
OVESETUP_VMCONSOLE_PROXY_CONFIG/vmconsoleProxyConfig=bool:True
OVESETUP_ENGINE_CONFIG/fqdn=str:{{ ansible_fqdn }}
OVESETUP_CONFIG/websocketProxyConfig=bool:True
