# IMPORTANT NOTE
# In this workflow there should NOT be checkout action - because of security reasons.
# More info:
# https://docs.github.com/en/actions/reference/events-that-trigger-workflows#pull_request_target
# https://securitylab.github.com/research/github-actions-preventing-pwn-requests/

name: PR welcome message
on:
  pull_request_target:
    types: opened

jobs:
  pr_comment:
    runs-on: ubuntu-latest
    steps:
      - name: Create comment
        uses: peter-evans/create-or-update-comment@v5
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            ## **Thank you for contributing to the Leapp project!**
            Please note that every PR needs to comply with the [Leapp Guidelines](https://leapp.readthedocs.io/en/latest/contributing.html#) and must pass all tests in order to be mergeable.
            If you want to request a review or rebuild a package in copr, you can use following commands as a comment:
            - **review please @oamg/developers** to notify leapp developers of the review request
            - **/packit copr-build** to submit a public copr build using packit

            To launch regression testing public members of oamg organization can leave the following comment:
            - **/rerun** to schedule basic regression tests using this pr build and leapp-repository\*main\* as artifacts
            - **/rerun 42** to schedule basic regression tests using this pr build and leapp-repository\*PR42\* as artifacts
            - **/rerun-sst** to schedule sst tests using this pr build and leapp-repository\*main\* as artifacts
            - **/rerun-sst 42** to schedule sst tests using this pr build and leapp-repository\*PR42\* as artifacts

            Please [open ticket](https://url.corp.redhat.com/oamg-ci-issue) in case you experience technical problem with the CI. (RH internal only)

            **Note:** In case there are problems with tests not being triggered automatically on new PR/commit or pending for a long time, please consider rerunning the CI by commenting **leapp-ci build** (might require several comments). If the problem persists, contact leapp-infra.
