name: reuse-tests-7to8@TF

on:
  workflow_call:
    secrets:
      TF_ENDPOINT:
        required: True
      TF_API_KEY:
        required: True
    inputs:
      copr_artifacts:
        required: True
        type: string
      tmt_plan_regex:
        type: string
        default: "^(?!.*upgrade_plugin)(?!.*tier[2-3].*)(?!.*rhsm)(?!.*c2r)(?!.*sap)(?!.*8to9)"
      environment_settings:
        type: string
        default: '{"provisioning": {"post_install_script": "#!/bin/sh\nsudo sed -i s/.*ssh-rsa/ssh-rsa/ /root/.ssh/authorized_keys"}}'
      arch:
        type: string
        default: 'x86_64'
      pull_request_status_name:
        type: string
        default: '7to8'
      copr:
        type: string
        default: 'epel-7-x86_64'
      tmt_context:
        type: string
        default: 'distro=rhel-7.9'
      compose:
        type: string
        default: 'RHEL-7.9-ZStream'
      variables:
        type: string
        default: ''
      update_pull_request_status:
        type: string
        default: 'true'

jobs:
  reusable_workflow_job:
    name: Schedule regression tests on Testing Farm
    runs-on: ubuntu-20.04
    steps:
      - name: Schedule regression testing for 7to8
        id: run_test_7to8
        uses: sclorg/testing-farm-as-github-action@v1.3.1
        with:
          # required
          api_url: ${{ secrets.TF_ENDPOINT }}
          api_key: ${{ secrets.TF_API_KEY }}
          git_url: 'https://gitlab.cee.redhat.com/oamg/tmt-plans'
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # optional
          tf_scope: 'private'
          create_issue_comment: 'true'
          update_pull_request_status: ${{ inputs.update_pull_request_status }}
          tmt_plan_regex: ${{ inputs.tmt_plan_regex }}
          compose: ${{ inputs.compose }}
          arch: ${{ inputs.arch }}
          copr: ${{ inputs.copr }}
          copr_artifacts: ${{ inputs.copr_artifacts }}
          debug: ${{ secrets.ACTIONS_STEP_DEBUG }}
          tmt_context: ${{ inputs.tmt_context }}
          pull_request_status_name: ${{ inputs.pull_request_status_name }}
          environment_settings: ${{ inputs.environment_settings }}
          variables: ${{ inputs.variables }}
